.radar {
  background: radial-gradient(center, #338EEA60 0%, #0a346100 75%),
              repeating-radial-gradient(#0a346100 5.8%, #0a346100 18%, #338EEA 18.6%, #0a346100 18.9%),
              linear-gradient(90deg, #0a346100 49.5%, #338EEA 50%, #338EEA 50%, #0a346100 50.2%),
              linear-gradient(0deg, #0a346100 49.5%, #338EEA 50%, #338EEA 0%, #0a346100 50.2%);
  /* position: relative; */
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 0.2rem solid #338EEA;
  overflow: hidden;

  width: calc( 100% - 10px );
  height: calc( 100% - 10px );
  position: absolute;
  left: 50%;
  top: 50%;
  /* background: linear-gradient(45deg, #fff, #fff 10%, #ffffff00 25%); */
  transform-origin: 0% 0%;
  animation: rotation 20s infinite linear;
}
.radar-scanner:after {
  content: ' ';
  display: block;
  background-image: linear-gradient(44deg, rgba(0, 255, 51, 0) 50%, #338EEA 100%);
  width: 50%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  animation: radar-beam 5s infinite;
  animation-timing-function: linear;
  transform-origin: bottom right;
  border-radius: 100% 0 0 0;
}

@keyframes radar-beam {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}